{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coração em Patas - Cadastro</title>
  <link rel="stylesheet" href="{% static 'css/cadastro2.css' %}">
</head>
<body>
  <div class="container">

    <!-- Lado direito - Formulário -->
    <div class="right-side">
      <div class="form-box">
       <a href="{% url 'cadastro' %}" class="back-btn">←</a>


        <div class="profile-icon">
          <span>👤</span>
        </div>
        <!-- Etapas -->
        <div class="steps">
          <div class="step active">1</div>
          <div class="step2">2</div>
          <div class="step">3</div>
        </div>
        <p class="step-text">Informe seus Dados</p>

        <!-- Formulário -->
        <form method="post" action="">
          {% csrf_token %}
          {% if error %}
            <p class="error">{{ error }}</p>
          {% endif %}
          <input type="text" name="cep" placeholder="CEP" required>
          <input type="text" name="city" placeholder="Cidade" required>
          <input type="text" name="neighborhood" placeholder="Bairro" required>
          <input type="text" name="street" placeholder="Rua" required>
          <input type="text" name="number" placeholder="Numero" required>

          <button type="submit" class="btn">Avançar</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>