{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha — código</title>
    <link rel="stylesheet" href="{% static 'css/esquecisenha.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
  <main class="container">
   <section class="card">
    <div class="tamanho">
      <h1>Digite o código de 6 dígitos enviado por Email</h1>
      <form class="login" method="post" action="">
        {% csrf_token %}
        {% if error %}
          <p class="error">{{ error }}</p>
        {% endif %}
        <input type="text" id="codigo" name="codigo" placeholder="Código" required>
        <button type="submit" class="login-btn">Nova senha</button>
      </form>
    </div>
   </section>
  </main>    
</body>
</html>