{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha Trocada</title>
    <link rel="stylesheet" href="{% static 'css/esquecisenha.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
  <main class="container">
    <section class="card">
      <div class="tamanho">
        <h1>Senha Trocada com sucesso!</h1>

        <!-- botão virou link, mantém o estilo -->
        <a href="{% url 'login' %}" class="login-btn">Ir para tela de login</a>
      </div>
    </section>
  </main>    
</body>
</html>
