{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contate-nos</title>
  <link rel="stylesheet" href="/css/telaajuda.css" />
</head>
<body>
  <div class="container">
    <div class="circle yellow"></div>
    <div class="circle purple"></div>

    <form class="formulario">
      <h1>Contate-nos</h1>

      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="Insira seu email" />

      <label for="nome">Nome completo:</label>
      <input type="text" id="nome" placeholder="Insira seu nome" />

      <label for="mensagem">Mensagem:</label>
      <textarea id="mensagem" rows="5" placeholder="Insira sua mensagem"></textarea>
    </form>
  </div>
</body>
</html>
